* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

:root {
    /*--Colors--*/
    /*background colors*/
    --bg-color: #F2EDEE;
    --nav-bar-bg-color: #FA7D7D;
    --tag-bg-color: #F4C2C1;
    --tag-selected-bg-color: var(--bg-color);
    --tag-border-color: var(--tag-bg-color);
    --tag-selected-border-color: var(--tag-bg-color);
    /*text colors*/
    --text-color: #181818;
    --secondary-text-color: #808080;
    --footer-text-color: #8a8a8a;
    
    /*--Font sizes--*/
    

    /*--Sizes--*/
    --content-top-padding: 2rem;
    --content-width: calc(var(--work-size) * var(--works-in-row) + (var(--works-in-row) - 1) * var(--works-h-spacing));
    
    --nav-side-opposite-shift: calc(100vw / 2 + var(--content-width) / 2 + 1rem);
    --nav-logo-width: 2.5rem;
    --nav-contact-width: 2.3rem;
    --nav-contact-spacing: 0.2rem;

    --header-top-padding: var(--content-top-padding);
    --header-bottom-padding: 2.4rem;
    --header-greeting-width: 80%;
    --header-greeting-img-width: 60%;
    --header-greeting-img-bottom-margin: 2rem;
    --header-greeting-title-bottom-margin: 1.5rem;
    --header-greeting-title-font-size: 3rem;
    --header-greeting-body-font-size: 1.2rem;

    --works-h-spacing: 0.625rem;
    --works-v-spacing: 2.5rem;
    --works-in-row: 3;
    --works-top-margin: 2rem;
    --work-size: 18.75rem;
    --work-image-bottom-margin: 0.6rem;
    
    --tag-list-h-spacing: 0.5rem;
    --tag-list-v-spacing: 0.4rem;
    --tag-list-all-top-margin: 1.7rem;
    --tag-v-padding: 0.25rem;
    --tag-h-padding: 0.5rem;
    --tag-border-radius: 99px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Questrial', Helvetica, Arial, sans-serif;
    text-align: center;
    min-width: var(--content-width);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.wrapper {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*Navigation bar*/

.nav-side {
    position: fixed;
    padding-top: var(--content-top-padding);
}

.nav-side.left {
    right: var(--nav-side-opposite-shift);
}

.nav-side.right {
    left: var(--nav-side-opposite-shift);
}

.nav-side .logo {
    width: var(--nav-logo-width);
}

.nav-side .contact {
    margin-bottom: var(--nav-contact-spacing);
    width: var(--nav-contact-width);
}


/*Header*/

header {
    background-color: var(--nav-bar-bg-color);
    padding-top: var(--header-top-padding);
    padding-bottom: var(--header-bottom-padding);
    text-align: center;
}

.header-greeting {
    text-align: center;
    width: var(--header-greeting-width);
    margin-left: auto;
    margin-right: auto;
}

.header-greeting img {
    width: var(--header-greeting-img-width);
    margin-bottom: var(--header-greeting-img-bottom-margin);
    border-radius: 1.6rem;
}

.header-greeting h1 {
    margin-bottom: var(--header-greeting-title-bottom-margin);
    font-size: var(--header-greeting-title-font-size);
}

.header-greeting p {
    line-height: 1.3;
    font-size: var(--header-greeting-body-font-size);
}


/*Works*/

.works {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--works-v-spacing);
    column-gap: var(--works-h-spacing);
    margin-top: var(--works-top-margin);
}

.work {
    width: var(--work-size);
    text-align: center;
}

.work .image-container {
    height: var(--work-size);
    margin-bottom: var(--work-image-bottom-margin);
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Tags*/

.tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: var(--tag-list-v-spacing);
    column-gap: var(--tag-list-h-spacing);
}

.tag-list.all {
    margin-top: var(--tag-list-all-top-margin);
}

.tag {
    display: inline-block;
    padding: var(--tag-v-padding) var(--tag-h-padding);
    border-radius: var(--tag-border-radius);
    color: var(--text-color);
    background-color: var(--tag-bg-color);
    border-color: var(--tag-border-color);
    border-width: 0.08rem;
    border-style: solid;
    font-size: 0.75rem;
    line-height: 1rem;
}

.tag:link {
    text-decoration: none;
}

.tag:hover {
    color: var(--text-color);
    background-color: var(--tag-selected-bg-color);
    border-color: var(--tag-selected-border-color);
}
/*FDFD96*/
.tag.selected {
    color: var(--text-color);
    background-color: var(--tag-selected-bg-color);
    border-color: var(--tag-selected-border-color);
}

.tag.selected:hover {
    color: var(--text-color);
    background-color: var(--tag-bg-color);
    border-color: var(--tag-border-color);
}

h1 {
    font-size: 1.75rem;
    color: var(--text-color);
}

h2 {
    font-size: 1.375rem;
    color: var(--text-color);
}

h3 {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

p {
    font-size: 1rem;
    color: var(--text-color);
}

footer {
    margin: 1.75rem 0;
}

footer p {
    color: var(--footer-text-color);
    font-size: 0.75rem;
}

footer a {
    text-decoration: underline;
}


/*Fancybox*/

.fancybox__container .carousel__dots {
    top: calc(100% - 3rem);
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    padding: 0 6px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    z-index: 1052;
}

.fancybox__caption h3 {
    font-size: 1.25rem;
    color: var(--bg-color);
    margin-bottom: 0.4rem;
}

.fancybox__caption p {
    font-size: 1rem;
    color: var(--bg-color);
}

.fancybox__caption p a {
    text-decoration: underline;
}

.fancybox__caption p a:hover {
    text-decoration: none;
}

div[data-fancybox] img {
  cursor: zoom-in;
}


/*dynemic item size for smaller screens then 3 items 300px each*/
@media (max-width: 1048px) {
    html {
        font-size: calc(100vw / 1048 * 16);
    }
}

/*phone screen with dynemic one item size*/
@media (max-width: 425px) {
    :root {
        --content-top-padding: 1.2rem;

        --nav-contact-width: 2.5rem;
        --nav-contact-spacing: 0.1rem;

        --header-bottom-padding: 1.8rem;
        --header-greeting-width: calc(100% - 2rem);
        --header-greeting-img-width: 70%;
        --header-greeting-img-bottom-margin: 1rem;
        --header-greeting-title-bottom-margin: 1rem;
        --header-greeting-title-font-size: 3rem;
        --header-greeting-body-font-size: 1.1rem;

        --works-in-row: 1;
        --work-size: calc(100vw);
        --works-top-margin: 1.8rem;
        --work-image-bottom-margin: 0.6rem;

        --tag-v-padding: 0.6rem;
        --tag-h-padding: 0.7rem;
        --tag-list-all-top-margin: 1.4rem;
    }

    html {
        font-size: calc(100vw / 425 * 16 * 1);
    }

    .tag {
        font-size: 0.875rem;
    }

    .nav-side {
        position: absolute;
    }

    .nav-side.left {
        right: auto;
        left: 1rem;
    }

    .nav-side.right {
        left: auto;
        right: 1rem;
    }

    .work .image-container {
        height: auto;
        /*max-height: var(--work-size);*/
    }

    .work .image-container > img {
        max-height: var(--work-size);
    }
}
