* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

:root {
    /*--Colors--*/
    /*background colors*/
    --bg-color: #FAEBD2;
    --box-bg-color: #FFFFFF;
    --button-bg-color: #F8DBE4;
    --separator-color: #717171;
    --tag-bg-color: #8FE08A;
    --tag-selected-bg-color: blue;
    /*text colors*/
    --text-color: #181818;
    --secondary-text-color: #717171;
    --footer-text-color: #8a8a8a;
    
    /*--Font sizes--*/

    /*--Sizes--*/
    --nav-bar-height: 3.75rem;
    --nav-bar-padding: 0rem 1.25rem;
    --separator-width: 1px;
    --columns-in-row: 3;
    --box-size: 300px;
    --wide-box-width: calc(2 * var(--box-size) + var(--separator-width));
    --row-height: var(--box-size);
    --row-width: calc(var(--box-size) * var(--columns-in-row) + (var(--columns-in-row) + 1) * var(--separator-width));
    --box-content-padding: 2.5rem 1.75rem 3.75rem 1.75rem;
    --wide-box-content-padding: 2.5rem 6.25rem 3.75rem 1.75rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Questrial', Helvetica, Arial, sans-serif;
    text-align: center;
    min-width: var(--row-width);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: var(--row-width);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.white-bg {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

nav {
    overflow: hidden;
    height: var(--nav-bar-height);
    padding: var(--nav-bar-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

nav li {
    float: left;
    font-size: 1rem;
}

nav li a {
    color: var(--text-color);
}

nav li .email {
    font-size: 0.875rem;
}

nav a {
    display: block;
    text-align: center;
    padding: .25rem 1rem;
    text-decoration:none
}

nav a:focus, nav a:hover {
    text-decoration: none;
}

nav img {
    max-height: 1.25rem;
}

.row {
    display: flex;
    justify-content: center;
    height: var(--row-height);
    background-color: var(--box-bg-color);
}

.box {
    width: var(--box-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide {
    width: var(--wide-box-width);
}

.box img {
    max-height: 100%;
    max-width: 100%;
}

.box .content {
    padding: var(--box-content-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.wide .content {
    padding: var(--wide-box-content-padding);
}

.box-about {
    white-space: pre-wrap;
}

.box-description {
    margin-top: 1rem;
}

.box-button {
    text-decoration: none;
    
    background-color: var(--button-bg-color);
    padding: .375rem;
    border-radius: 2.5px;
    display: inline-block;
    border: 0.25px solid var(--secondary-text-color);
}

.tag-list {

}

[class*="tag"] {
    display: inline-block;
    background-color: var(--tag-bg-color);
    margin-top: .375rem;
    margin-right: .375rem;
    padding: .25rem 0.5rem;
    border-radius: 15px;
}

.tag-selected {
    background-color: var(--tag-selected-bg-color);
}

.hline {
    height: var(--separator-width);
    background-color: var(--separator-color);
    max-width: 100%;
}

.vline {
    width: var(--separator-width);
    background-color: var(--separator-color);
    max-height: 100%;
}

.clear {
    background-color: transparent;
}

h1 {
    font-size: 1.75rem;
    color: var(--text-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--text-color);
}

h3 {
    font-size: 1rem;
    color: var(--text-color);
}

p {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.box-button {
    color: var(--secondary-text-color);
    font-size: 0.75rem;
}

[class*="tag"] {
    font-size: 0.75rem;
    color: var(--text-color);
}

footer {
    margin: 1.75rem 0;
}

footer p {
    color: var(--footer-text-color);
    font-size: 0.75rem;
}

footer a {
    text-decoration: underline;
}

.phone-show {
    display: none;
}

/*dynemic box size for smaller screens then 3 boxes 300px each*/
@media (max-width: 904px) {
    :root {
        --box-size: calc((100vw - 4px) / 3);
    }

    html {
        font-size: calc(100vw / 904 * 16);
    }
}

/*phone screen with dynemic two boxes size*/
@media (max-width: 425px) {
    :root {
        --columns-in-row: 2;
        --box-size: calc((100vw - 3px) / 2);
    }

    html {
        font-size: calc(100vw / 425 * 16 * 0.6);
    }

    .phone-hide {
        display: none;
    }

    .phone-collapse {
        width: var(--box-size);
    }

    .phone-collapse .content {
        padding-right: 26px;
    }

    .phone-show {
        display: inherit;
    }
}
